body {
    font-family: sans-serif;
}

#timer-container {
    display: flex;
    justify-content: flex-end;
    width: 98%;
}

#card {
    /* display: flex;
    flex-direction: column; */
    background-color: gold;
    margin: auto;
    margin-top: 10%;
    border-radius: 15px;
    width: 40%;
    align-items: center;
    padding: 30px;
}

#main-head {
    text-align: center;
    font-size: 36px;
}

#start-button {
    display: block;
    margin: auto;
    padding: 9px;
    margin-top: 5px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    background-color:rgb(255, 244, 179);
    color:rgb(39, 48, 63);
}

#description {
    text-align: center;
}