body {
    font-family: sans-serif;
    color: rgb(39, 48, 63);
}

#card {
    position: relative;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
}

#green-check {
    text-align: center;
    opacity: .8;
    top: -9%;
    display: none;
}

#red-x {
    text-align: center;
    opacity: .8;
    top: -9%;
    display: none;
}

#timer-container {
    display: flex;
    justify-content: flex-end;
    width: 98%;
}

#card {
    /* display: flex;
    flex-direction: column; */
    
    margin: auto;
    margin-top: 10%;
    border-radius: 15px;
    width: 40%;
    align-items: center;
    padding: 30px;
}

.card-test {
    background-color: gold;
}

#main-head {
    text-align: center;
    font-size: 36px;
}

#start-button {
    margin: auto;
}

.btn {
    display: block;
    padding: 9px;
    margin-top: 5px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    background-color:rgb(255, 244, 179);
    color:rgb(39, 48, 63);
}

#description {
    text-align: center;
    color: rgb(39, 48, 63);
    font-style: italic;
}

#description2 {
    text-align: center;
    color: rgb(39, 48, 63);
    font-style: italic;
}

.hide {
    display: none;
}

#timer-countdown {
    padding-left: 10px;
    color:rgb(39, 48, 63);
}

#timer-label {
    color:rgb(80, 89, 105);
    font-weight: 100;
    font-style: italic;
    color:rgb(80, 89, 105);
}

.test-class {
    background-color:rgb(39, 48, 63);
}

#initials-container {
    display: flex;
    justify-content: center;
}

#initials {
    border-radius: 10px;
    border: none;
    background-color:rgb(255, 244, 179);
}

#initials:focus {
    outline: none;
}

#initials-button {
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(231, 198, 8);
}

#scores-list {
    background-color:rgb(253, 230, 99);
    padding: 8px;
    border-radius: 8px;
    list-style-type: none;

}

li {
    margin: auto;
}

#reset {
    margin: auto;
    padding: 18px;
    
}